@using AS_Web1_2022.Models
@model Training
<form action="~/Trainer/AddTrainingRequest" method="post">
    Name: <input type="text" name="Name" /></br>
    Training type: <select name="typeOfTrainingSession">
        <option value=""></option>
        <option value="Box">Box</option>
        <option value="Judo">Judo</option>
        <option value="BodyBuilding">BodyBuilding</option>
        <option value="CardioKickBox">CardioKickBox</option>
        <option value="WomenBodyBuilding">WomenBodyBuilding</option>
        <option value="MMA">MMA</option>
    </select></br>
    Max participants: <input type="number" name="MaxParticipants" /></br>
    Date and time:<input type="datetime-local" name="Datetime" /></br>
    Duration: <input type="number" name="Duration" />
    <input type="submit" value="Add" />
</form>
<p>@ViewBag.ErrorMessage</p>


